<div class="container mt-4" *ngIf="user">
  <div class="row">

    <div class="col-sm-4">
      <h1>Edit Profile</h1>
    </div>
    <div class="col-sm-8">
      <div *ngIf="editMember.dirty" class="alert alert-info">
        Changes have been made kindly save them before moving on
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img class="card-img-top img-thumbnail" src="{{user.photoUrl}}" alt="{{user.knownAs}}">
        <div class="card-body">
          <div>
            <strong>Location</strong>
            <p>{{user.city}}, {{user.country}}</p>
          </div>
          <div>
            <strong>Age:</strong>
            <p>{{user.age}}</p>
          </div>
          <div>
            <strong>Last Active</strong>
            <p>{{user.lastActive}}</p>
          </div>
          <div>
            <strong>Last since</strong>
            <p>{{user.created}}</p>
          </div>
        </div>
        <div class="card-footer">
            <button [disabled]="!editMember.dirty" form="editMember" class="btn btn-success btn-block">Save</button>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="tab-panel">
        <tabset class="member-tabset">
          <tab heading="Edit Profile">
            <form #editMember="ngForm" id="editMember" (ngSubmit)="updateUser(editMember)">
              <h4>Description</h4>
              <textarea class="form-control" name="introduction" rows="6" [(ngModel)]="user.introduction"></textarea>
              <h4>Looking For</h4>
              <textarea class="form-control" name="lookingFor" rows="6" [(ngModel)]="user.lookingFor"></textarea>
              
              <h4>Interest</h4>
              <textarea class="form-control" name="interest" rows="6" [(ngModel)]="user.interests"></textarea>
              
              
              <h4>Location Details</h4>
              <div class="form-group row">
                  <label for="city" class="col-sm-2 col-form-label">City</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" name="city" [(ngModel)]="user.city">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="country" class="col-sm-2 col-form-label">Country</label>
                  <div class="col-sm-10">
                      <input type="text" class="form-control" name="country" [(ngModel)]="user.country">
                  </div>
                </div>

            </form>
          </tab>
          <tab heading="Edit Photos">
            
          </tab>
        </tabset>
        <hr>
      </div>
    </div>
  </div>
</div>
