<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Datting App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse"  data-target=".navbar-collapse"
   [attr.aria-expanded]='isExpanded' (click)='toggle()'>
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [class.show]='isExpanded'>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Matches</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Lists</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Messages</a>
      </li>
    </ul>

    <div class="dropdown" *ngIf="authService.loggedIn()">
      <a class="text-light" (click)="authService.logout()" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
       Welcome User
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#"><i class="fa fa-user"></i> Edit Profile</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#"><i class="fa fa-sign-out"></i> Logout</a>
      </div>
    </div>

    <form class="form-inline my-2 my-lg-0" #loginForm="ngForm" (ngSubmit)="login()" *ngIf="!authService.loggedIn()">
      <input name="username" class="form-control mr-sm-2" placeholder="username" type="text" 
             [(ngModel)]="model.username" required>
      <input name="password" class="form-control mr-sm-2" placeholder="password" type="password" 
             [(ngModel)]="model.password" reequired>
      <button [disabled]="!loginForm.valid" class="btn btn-success my-2 my-sm-0" type="submit">login</button>
    </form>

  </div>
</nav>